@import '../utils/styles.scss';
.data-cell {
  &__container {
    @include flex(row, space-between, center);
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__label {
    color: $TEXT_LIGHT;
  }

  &__data {
    font-weight: bold;
  }
}
