@import '../utils/styles.scss';
.attribution {
  z-index: 3;
  display: inline-block;
  width: 100%;
  position: fixed;
  bottom: 4px;
  font-size: 10px;
  text-align: center;
  color: $TEXT_LIGHT;
  a {
    display: inline-block;
    font-size: 10px;
    color: $STARWARS_COLOR;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0.5rem 0.5rem 2rem $TEXT_DARK;
  }
}
