@import '../utils/styles.scss';

.header {
  &__container {
    background-color: black;
    padding: 16px 32px;
    @include flex(row, start, center);
    gap: 16px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  &__title {
    color: white;
    font-weight: bold;
    font-size: 17px;
  }
  &__icon {
    font-size: 12px;
    color: #fff;
  }
}
