@import '../utils/styles.scss';

.header {
  &__container {
    background-color: black;
    padding: 16rem 32rem;
    @include flex(row, start, center);
    gap: 16rem;
    position: fixed;
    top: 0;
    width: 100%;
  }
  &__title {
    color: white;
    font-weight: bold;
    font-size: 17rem;
  }
  &__icon {
    font-size: 12rem;
    color: #fff;
  }
}
