@import '../utils/styles.scss';

.person-detail {
  &__name {
    font-size: 20rem;
    text-align: center;
    padding: 16rem;
    display: block;
    @media all and (max-width: 720px) {
      display: none;
    }
  }

  &__data {
    padding: 16rem;
    max-width: 900rem;
    margin: auto;
  }

  &__category {
    padding: 16rem 0;
  }

  &__general-info {
    padding-bottom: 16rem;
  }
  &__header {
    display: none;
    @media all and (max-width: 720px) {
      display: block;
    }
  }
}
