@import '../utils/styles.scss';
@import url('https://fonts.cdnfonts.com/css/star-wars');

.welcome {
  &__container {
    text-align: center;
    height: calc(100vh - 52rem);
    padding: 16rem;
    @include flex(column, center, center);
  }
  &__greeting {
    color: $STARWARS_COLOR;
    letter-spacing: 4rem;
    font-family: 'Star Wars', sans-serif;
    font-size: 20rem;
    font-weight: bold;
    text-shadow: 1rem 0 0 black, 0 1rem 0 black, -1rem 0 0 black, 0 -1rem 0 black;
  }

  &__title {
    font-size: 32rem;
    margin: 16rem 0;
  }
  &__info {
    color: $TEXT_LIGHT;
  }
  &__link {
    color: $STARWARS_COLOR;
    font-size: 12rem;
    font-style: italic;
  }
}
