@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

$RAVN-BLACK: #121212;
$TEXT_DARK: #333333;
$TEXT_LIGHT: #828282;
$TEXT_EMPHASIS: #ec5757;

$font-stack: 'SF-Pro-Display', sans-serif;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@font-face {
  font-family: SF-Pro-Display;
  src: url(/SFPRODISPLAYREGULAR.OTF);
  font-weight: normal;
}
@font-face {
  font-family: SF-Pro-Display;
  src: url(/SFPRODISPLAYBOLD.OTF);
  font-weight: bold;
}

@mixin fontStack() {
  font-family: $font-stack;
}
